---
layout: default
title:
nav_weight:
---

       {% include section_ad.html %}
       
       {% include leaflets.html %}
       
       {% include section_d.html %}

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Συμβουλές Στοματικής Υγείας</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              
              <img src="{{site.baseurl}}/files/ftho.jpg" class="rounded sr-icon-1 img-responsive" alt="Το Φθόριο" width="150" height="150">
              <h3 class="mb-3">Το Φθόριο</h3>
              <p class="text-muted mb-0">Το φθόριο είναι απαραίτητο θρεπτικό συστατικό για την ανθεκτικότητα της αδαμαντίνης<button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal4">...</button></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{{site.baseurl}}/files/vour.jpg" class="rounded sr-icon-2 img-responsive" alt="Σωστό Βούρτσισμα" width="150"  height="150">
              <h3 class="mb-3">Σωστό Βούρτσισμα</h3>
              <p class="text-muted mb-0">Ο οδοντίατρος με ευχαρίστηση δείχνει τον τρόπο βουρτσίσματος των δοντιών!<button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal3">...</button></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{{site.baseurl}}/files/diat.jpg" class="rounded sr-icon-3 img-responsive" alt="Σωστή Διατροφή" width="150"  height="150">
              <h3 class="mb-3">Σωστή Διατροφή</h3>
              <p class="text-muted mb-0">Η σωστή διατροφή παίζει σημαντικό ρόλο για τη στοματική υγεία<button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal2">...</button></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{{site.baseurl}}/files/prol.jpg" class="rounded sr-icon-4 img-responsive" alt="Πρόληψη" width="150"  height="150">
              <h3 class="mb-3">Πρόληψη</h3>
              <p class="text-muted mb-0">Η πρόληψη των νόσων του στόματος είναι κυρίως θέμα παιδείας
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal1">...</button></p>
            </div>              
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Πρόληψη</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Η πρόληψη των νόσων του στόματος είναι κυρίως θέμα παιδείας. Το σχολείο είναι ίσως ο καταλληλότερος χώρος αγωγής της στοματικής υγείας διότι έχει δυναμική επιρροή στους μαθητές. Επίσης, σημαντική είναι και η παράλληλη συμβολή των γονέων. Μπορούμε, λοιπόν, να προλάβουμε τις νόσους του στόματος αν εφαρμόσουμε απλά προληπτικά μέτρα, όπως το καθημερινό βούρτσισμα μετά από κάθε γεύμα, χρήση οδοντικού νήματος, σωστή διατροφή, χρήση φθορίου.</p>

        <p>Η πρόληψη των νόσων του στόματος είναι κυρίως θέμα παιδείας. Το σχολείο είναι ίσως ο καταλληλότερος χώρος αγωγής της στοματικής υγείας διότι έχει δυναμική επιρροή στους μαθητές. Επίσης, σημαντική είναι και η παράλληλη συμβολή των γονέων. Μπορούμε, λοιπόν, να προλάβουμε τις νόσους του στόματος αν εφαρμόσουμε απλά προληπτικά μέτρα, όπως το καθημερινό βούρτσισμα μετά από κάθε γεύμα, χρήση οδοντικού νήματος, σωστή διατροφή, χρήση φθοριούχων διαλυμάτων και κάθε έξι μήνες επίσκεψη στον οδοντίατρο για έλεγχο.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
      <!-- Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Σωστή Διατροφή</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Η σωστή διατροφή παίζει σημαντικό ρόλο για τη στοματική υγεία. Η καθημερινή δίαιτα θα πρέπει να περιλαμβάνει όλα τα είδη τροφών, μαύρο ψωμί και φρούτα. Συνιστάται η αποφυγή τροφών που περιέχουν πολύ ζάχαρη, όπως οι καραμέλες, οι τσίχλες, τα μπισκότα, οι γκοφρέτες, τα γλειφιτζούρια, οι σοκολάτες, τσίπς, κ.λ.π., που κολλάνε πάνω οτα δόντια και αφαιρούνται δύσκολα, επίσης τα αναψυκτικά που περιέχουν ζάχαρη θα πρέπει να αποφεύγονται ιδιαίτερα ανάμεσα οτα γεύματα. </p>

        <p>Εάν μας αρέσουν τα γλυκά μπορούμε να τα τρώμε μετά το κύριο γεύμα και στη συνέχεια να βουρτσίζουμε τα δόντια. Πρέπει να πούμε ότι η απαραίτητη ζάχαρη που χρειάζεται ο οργανισμός του ανθρώπου λαμβάνεται πλήρως από τις άλλες τροφές και τα φρούτα. </p>
        <p>Τα μωρά και τα μικρά παιδιά που καταναλώνουν συχνά χυμούς φρούτων και γάλα με πολύ ζάχαρη κινδυνεύουν ακόμα περισσότερο από τερηδόνα. Ιδιαίτερα όταν το μωρό πίνει το γάλα του κατά την διάρκεια του ύπνου ή όταν του δίνουμε την πιπίλα με μέλι για να μην κλαίει, τότε τα δόντια του είναι συνεχώς εκτεθειμένα στο παραγόμενο από τα ένζυμα που υπάρχουν στο στόμα οξύ, με αποτέλεσμα τα δοντάκια του να παθαίνουν πανωλεθρία από την τερηδόνα.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Σωστό Βούρτσισμα</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ο οδοντίατρος με ευχαρίστηση δείχνει τον τρόπο βουρτσίσματος των δοντιών, την χρήση του οδοντικού νήματος και προτείνει την ενδεδειγμένη οδοντόβουρτσα καθώς και την οδοντόκρεμα για κάθε περίπτωση. Για το σωστό βούρτσισμα τοποθετούμε την οδοντόβουρτσα λοξά τη μισή πάνω στα ούλα και τη μισή πάνω στα δόντια, έτσι ώστε οι συνθετικές νάυλον τρίχες όταν πιέζουμε να εισχωρούν στα μεσοδόντια διαστήματα. Οι κινήσεις της οδοντόβουρτσας πρέπει να είναι επιτόπιες κυκλικές και με κατεύθυνση προς τα ούλα και σε καμία περίπτωση οριζόντιες (βιολί). Η οδοντόβουρτσα μετά από κάθε χρήση πρέπει να τοποθετείται με το κεφάλι προς τα πάνω για να αερίζεται και να επανακτά τη σκληρότητά της. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Φθόριο</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Το φθόριο, το οποίο είναι απαραίτητο θρεπτικό συστατικό για την ανθεκτικότητα της αδαμαντίνης, φυ­σιολογικά βρίσκεται σε πολλές τροφές και στο πόσιμο νερό. Από μελέτες είναι γνωστό ότι ο Ν. Τρικάλων έχει το θλιβερό προνόμιο της παντελούς έλλειψης φθορίου στο πόσιμο νερό. Η φθορίωση του πόσιμου νερού είναι δαπανηρή και δύσκολη υπόθεση, γι 'αυτό καταφεύγουμε σε άλλους τρόπους λήψης φθορίου, όπως με τοπικές εφαρμογές από τον οδοντίατρο, με διαλυόμενα στο στόμα δισκία φθορίου, με φθοριού­χα στοματικά διαλύματα και φυσικά με την χρήση φθοριούχου οδοντόκρεμας.</p>
<p>Τονίζουμε ότι η παραμέληση της θεραπείας των δοντιών και των ούλων είναι μεγάλη σπατάλη υγείας, ομορφιάς και χρημάτων. Να θυμόμαστε ότι η επίσκεψη στον οδοντίατρο δεν πρέπει να γίνεται μόνο όταν έχουμε κάποιο πρόβλημα ή πόνο. Πρέπει να συνειδητοποιήσουμε ότι η ευ­θύνη για την διατήρηση της καλής στοματικής υγείας, που είναι άλλωστε και ο καθρέπτης της γε­νικής υγείας του ανθρώπου, είναι πρώτιστα δική μας.</p>
<p>Ένα ωραίο χαμόγελο διευκολύνει τις σχέσεις μας και γενικά, την επικοινωνία των ανθρώπων μεταξύ τους.</p>
<p>Τέλος, η οποιαδήποτε συμβολή του δημοσιεύματος αυτού στην καλύτερη στοματική υγεία των Τρικαλινών παιδιών θα είναι η αμοιβή και η ικανοποίηση του αρθρογράφου.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</section> 

   
