    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{site.baseurl}}/">{{site.title}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
        {% assign navigation_pages = site.pages | sort: 'nav_weight' %}   
        {% for my_page in navigation_pages %}
          {% if my_page.title %}
          <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>

          {% endif %}
        {% endfor %}

  
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex rgba-blue-strong">
      <div class="container my-auto">
        <div class="row align-items-center" style="height: 100vh">
          <div class="col-sm-12 text-center">
            <h1 class="text-uppercase">
              <strong>{{site.title}}</strong>
            </h1>
            <hr>
            <a href="https://www.ostrikala.gr/%CE%BF%CE%B4%CE%BF%CE%BD%CF%84%CE%B9%CE%B1%CF%84%CF%81%CE%BF%CE%B9/%CE%BD%CE%B5%CE%B1/31%CE%B7-%CF%80%CE%B1%CE%BD%CE%B8%CE%B5%CF%83%CF%83%CE%B1%CE%BB%CE%B9%CE%BA%CE%AE-%CE%BF%CE%B4%CE%BF%CE%BD%CF%84%CE%BF%CF%83%CF%84%CE%BF%CE%BC%CE%B1%CF%84%CE%BF%CE%BB%CE%BF%CE%B3%CE%B9%CE%BA%CE%AE-%CF%83%CF%8D%CE%BD%CE%BF%CE%B4%CE%BF%CF%82-%CF%83%CF%84%CE%B9%CF%82-19-21-%CE%B1%CF%80%CF%81%CE%B9%CE%BB%CE%AF%CE%BF%CF%85-2024/"><img src="https://www.ostrikala.gr/uploads/2024/04/afisa2024.png"  class="postfigures"></a>
          </div>
         
        </div>
      </div>
    </header>