<section id="zleaflets">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ενημέρωση</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
  <div class="zcontainer">
   <div><a target="_blank" href="{{site.baseurl}}/%CE%BF%CE%B4%CE%BF%CE%BD%CF%84%CE%B9%CE%B1%CF%84%CF%81%CE%BF%CE%B9/%CE%BD%CE%B5%CE%B1/2019-03-14/"><img src="{{site.baseurl}}/files/docs/news-2019-03-14-1.jpg" alt="Παγκόσμια Ημέρα Στοματικής Υγείας" ></a></div>
   <div><a target="_blank" href="{{site.baseurl}}/files/docs/news-2019-02-22-osteo.pdf"><img src="{{site.baseurl}}/files/docs/news-2019-02-22-osteo.jpg" alt="Οστεονέκρωση των γνάθων" ></a></div>
  <div><a target="_blank" href="{{site.baseurl}}/files/docs/news-2019-02-22-amal.pdf"><img src="{{site.baseurl}}/files/docs/news-2019-02-22-amal.jpg" alt="Οδοντιατρικό αμάλγαμα" ></a></div>
  <div><a target="_blank" href="{{site.baseurl}}/files/docs/news-2019-02-22-epimo.pdf"><img src="{{site.baseurl}}/files/docs/news-2019-02-22-epimo.jpg" alt="Συνεχής Επαγγελματική Επιμόρφωση Οδοντιάτρων" ></a></div>  
  </div>
</section>
