 <div class="section">
      <div class="container" >
          <div class="card img-fluid m-4 mx-auto" style="max-width:728px">
              <a href="https://intermed.com.gr/el/taxonomies/proionta-xloreksidinis">
    <img class="card-img-top" src="{{site.baseurl}}/files/ad/intermed.png" alt="INTERMED" style="width:100%">
    </a>
    </div>
          <div class="card img-fluid m-4 mx-auto" style="max-width:728px">
              <a href="http://www.vitsaropoulos.gr">
    <img class="card-img-top" src="{{site.baseurl}}/files/ad/Vitsarologo.png" alt="ΜΙΛΤΙΑΔΗΣ ΒΙΤΣΑΡΟΠΟΥΛΟΣ Α.Ε." style="width:100%">
    </a>
    </div>
    <div class="card img-fluid m-4 mx-auto" style="max-width:300px">
              <a href="http://www.dental-co.gr">
    <img class="card-img-top" src="{{site.baseurl}}/files/ad/logo_soth.png" alt="Συνεταιρισμός Οδοντιάτρων Θεσσαλονίκης" style="width:100%">
    </a>
    </div>
    <div class="card img-fluid m-4 mx-auto" style="max-width:300px">
              <a href="http://sinadent.gr/">
    <img class="card-img-top" src="{{site.baseurl}}/files/ad/logo_sinadent.png" alt="sinadent" style="width:100%">
    </a>
    </div>    
   </div>
   </div>