.totalpostcontent {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

@media all and (max-width: 512px) {
  .totalpostcontent {
    flex-direction:column;
  }
  
}

.posttext {
    padding:10px;
}

.postfigures {
    max-width:200px;
    border-radius: 10px;
    margin-top: 10px;
}

@media all and (max-width: 512px) {
  .postfigures {
    max-width:100%;
    }
  
}

.imagescontainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
}