<!DOCTYPE html>
<html lang="el">
{% include head.html %}
<body id="page-top">
    
 

    {% include header_onlynav.html %}
    <div class="jumbotron1" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">

    </div>

<div class="container" style="min-height: 440px;">


      {{ content }}

      
 </div>
           
       
       
           
    {% include footer.html %}
    
 

    
   <!-- Custom scripts for this template -->
   {% include scripts.html %}


</body>
</html>
