<!DOCTYPE html>
<html lang="el">
{% include head-for-post.html %}

<body id="page-top">
    

    {% include header_onlynav.html %}
<div class="jumbotron1" style="background-image: url('{{ site.baseurl }}/files/1.jpg')">

    </div>

  <div class="container shadow-lg" style="min-height: 440px; border-radius: 20px; border: rounded; background-color: #fff; margin-top: -100px; padding: 25px;">
       <h3 class="mt-4" style="border-bottom: 6px solid red;">{{page.title}}</h3>

          <!-- Author -->
           {% if page.author %}
          <p class="lead">
            by
            <a href="#">{{page.author}}</a>
          </p>
           {% endif %}
          

          <!-- Date/Time -->
          {% include share.html %}
 
          <div class="totalpostcontent">
          <!-- Post Content -->
             <div class="posttext">  
            
             {{ page.text }}{{ content }}
             
             <!-- files -->
           {% if page.pdfs %}
           <ul style="list-style-type: none;">
           {% for pdf in page.pdfs %}
          <li style="float: left;">[
            <a href="{{pdf}}">αρχείο-{{forloop.index}} </a>
          ]</li>
          {% endfor %}
          </ul>
           {% endif %}
             </div>
         <div class="imagescontainer">
           <!-- Preview Image -->
          {% for image in page.images %}
          <a href="{{image}}"><img src="{{image}}"  class="postfigures"></a> 
          {% endfor %}
           </div>
          </div>
        </div>
       
           
    {% include footer.html %}
    
   

 
 <!-- Custom scripts for this template -->
   {% include scripts.html %}


   


</body>
</html>
